* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100vh;
    width: 100vw;
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td {
    border: 2px solid black;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    border: 2px solid black;
}